<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Courses</h2>
                    <h3 class="section-subheading text-muted">Our Courses</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-microchip"></i>
                    </span>
                    <h4 class="service-heading">Advance Digital Design using Verilog</h4>
                    <p class="text-muted">This Verilog course covers the coding for simulation with a new approach. By the end of the verilog module you will have a confidence to design circuits using just 4 modules (Vectored mux, vectored comparator, vectored adder and vectored D flip-flop).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">System Verilog for Verification</h4>
                    <p class="text-muted">This SystemVerilog hands-on course explains all the language data types and concepts, especially how we can use all the language features to create a class-based verification environment. It explains all the data types, language features like interfaces, program block, OOP, randomisation, functional coverage, Interprocess communication, Singletone class , etc. in detail. Course will also include design and verification using Verilog and creating a self-checking testbench from pure Verilog and than slowly implementing it in SystemVerilog.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop-binary fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Intriduction to UVM</h4>
                    <p class="text-muted">This UVM hands-on course begins with a overview of UVM methodology, addressing the question like why we need a methodology ?. With this overview it walks you through all the concepts like SV advance concepts, UVM environment, UVM messaging, Transaction, Sequence, config_db, TLM, callbacks, virtual sequencer, scoreboard, phasing, factory etc.</p>
                </div>
            </div>
        </div>
    </section>
